

.two-column {
  padding: 5%;
  padding-top: 8%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(93deg,rgba(19, 44, 69, 1) 0%, rgba(4, 68, 77, 1) 48%, rgba(12, 89, 92, 1) 50%, rgba(26, 93, 102, 1) 50%, rgba(29, 79, 89, 1) 52%, rgba(11, 53, 66, 1) 100%);
}

.banner {
  margin: 0px 0;
  display: flex;
  flex-direction: row;
  background: rgb(0,0,0);
  padding-top: 4%;
  padding-bottom: 4%;
  background: #ffffff;
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(134, 207, 227, 1) 18%, rgba(87, 167, 199, 1) 35%, rgba(0, 112, 143, 1) 65%, rgba(0, 110, 141, 1) 91.25%, rgba(1, 98, 125, 1) 91.25%, rgba(1, 92, 117, 1) 100%);
}

.two-column>*:nth-child(1) {
  flex: 1;
}

.two-column>*:nth-child(2) {
  flex: 1;
}



input, textarea {
  margin-bottom: 2%;
  width: 30%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

#message{
  width: 80%;
  height: 200px;
  resize: none;
}


input::placeholder,
textarea::placeholder {
  color: rgba(255,255,255,0.6);
  font-family: "Inter";
  font-weight: 300;
}

button {
  margin-top: 10px;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  background: #4fd1c5;
  color: #0a2a32;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}


#artStudy{
  position: relative;
  transform: translate(5%, 0%);
  z-index: 3; /* Higher layer */
  transition: 0.1s;
}
#artStudy:hover{
  position: relative;
  transform: translate(5%, 0%);
  scale: 110%;
  z-index: 4;

}

#skeleton{
  position: relative;
  transform: translate(35%, -10%);
  z-index: 2;
  transition: 0.1s;

}
#skeleton:hover{
  position: relative;
  transform: translate(30%, -10%);
  scale: 110%;
  z-index: 4;
}
#knife{
  position: relative;
  transform: translate(0%, -30%);
  z-index: 1;
  transition: 0.1s;
}
#knife:hover{
  position: relative;
  transform: translate(0%, -30%);
  scale: 110%;
  z-index: 4;

}

h6{
  color: rgb(255,255,255, 0.4);
}