
.image-wrapper {
  width: 100%x;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.two-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(93deg,rgba(19, 44, 69, 1) 0%, rgba(4, 68, 77, 1) 48%, rgba(12, 89, 92, 1) 50%, rgba(26, 93, 102, 1) 50%, rgba(29, 79, 89, 1) 52%, rgba(11, 53, 66, 1) 100%);
}

.banner {
  margin: 0px 0;
  display: flex;
  flex-direction: row;
  background: rgb(0,0,0);
  padding-top: 4%;
  padding-bottom: 4%;
  background: #ffffff;
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(134, 207, 227, 1) 18%, rgba(87, 167, 199, 1) 35%, rgba(0, 112, 143, 1) 65%, rgba(0, 110, 141, 1) 91.25%, rgba(1, 98, 125, 1) 91.25%, rgba(1, 92, 117, 1) 100%);
}

.two-column>*:nth-child(1) {
  flex: 1;
}

.two-column>*:nth-child(2) {
  flex: 1;
}

.list-container{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 5%;
}

.list-item{
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding: 5%;
}

.list-item>*:nth-child(1) {
  flex: 1;
}

.list-item>*:nth-child(2) {
  flex: 1;
}